*pyc
results/
opt_recycle.py
test.py
*.idea
*DS_Store
figs/
*.png
distance.py
*SB3/
distance.py
MUJOCO_LOG.TXT
task/muscle/mj_HandHold/expert_results_HandFloat_0/progress.csv
task/muscle/mj_HandHold/expert_results_HandFloat_0/log.txt
autoencoder/
*.stresstest
*last.pkl
*unused
git_pull.sh
res_plot.py

*.ipynb
mj_HandHold/
*leg.npz
leg_safe.npz

task/scs/data
functions/muscle

test_muscle.py

optimization_leg.py